# ------------------------------------------------------------
# TAX CONSULTANTS
# Environment Variables Template
# ------------------------------------------------------------

# Application
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Database
DATABASE_URL= # PostgreSQL database connection (replace with your own values)
DATABASE_URL="postgresql://postgres:YOUR_DATABASE_PASSWORD@db.YOUR_PROJECT_REF.supabase.co:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=

# Sentry
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=

# Vercel
VERCEL_URL=